html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    color: #333333;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}

html, body, .wrapper {
    height: 100%;
}

h2 {
    font-size: 48px;
    font-weight: 700;
    margin: 0;
    padding-bottom: 32px;
}

h3 {
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    margin: 0;
}

p {
    margin: 0;
}

a {
    cursor: url('/images/pointer.svg'), pointer;
    color: #278AFF;
}

.wrapper {
    display: flex;
    flex-direction: column;
}

.main {
    flex: 1;
}

.container {
    padding: 0px;
}

.header, .footer {
    flex-shrink: 0;
}

.header {
    background-color: #F8F6F7;
    background-image: url(/images/background.png);
}

.header-top, .header-hero {
    display: flex;
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
}

.header-top {
    padding-top: 30px;
}

.header-hero {
    align-items: center;
}

.header-world {
    font-size: 24px;
    font-weight: 700;
}

.header-phone {
    font-size: 18px;
    font-weight: 500;
    line-height: 14px;
    text-align: right;
    padding-bottom: 8px;
}

.header-shedule {
    font-size: 11px;
    font-weight: 400;
    line-height: 14px;
    text-align: right;
}

.header-nav {
    align-content: space-between;
}

.header-look {
    max-width: 486px;
    vertical-align: middle;
}

.header-looktxt {
    font-size: 48px;
    font-weight: 600;
    padding-bottom: 16px;
}

.header-looktxt-small {
    font-size: 20px;
    font-weight: 400;
    padding-bottom: 60px;
}

.header-girl {
    max-width: 524px;
    position: relative;
    bottom: 0;
    overflow: hidden;
    min-width: 524px;
    margin-right: 90px;
}

.header-girl:before {
    content: '';
    width: 472px;
    height: 472px;
    background-color: #FB9475;
    border-radius: 50%;
    bottom: -110px;
    right: 0;
    z-index: 0;
    max-width: 524px;
    position: absolute;
}

.header-girl img {
    z-index: 1;
    position: relative;
    display: block;
}

.header-hero .social {
    display: flex;
    flex-direction: column;
    justify-content: center;
    transform: translateY(-25%);
}

.header-hero .social li:not(:last-child) {
    padding-bottom: 16px;
}

.section {
    padding: 50px 0;
}

.section-about {
    padding-top: 100px;
}

.section-bg {
    background-color: #F8F6F7;
}

.btn {
    font-family: 'Montserrat';
    font-size: 12px;
    font-weight: 500;
    line-height: 14px;
    color: white;
    background-color: #FB9475;
    border: none;
    outline: none;
    border-radius: 17px;
    cursor: url('/images/pointer.svg'), pointer;
    transition: 0.3s opacity;
}

.btn:hover {
    opacity: 0.7;
}

.btn-large {
    height: 48px;
    width: 203px;
    font-size: 14px;
    border-radius: 24px;
}

.social {
    text-decoration: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.social a:hover {
    opacity: 0.7;
}

.about-link {
    font-size: 14px;
    font-weight: 400;
}

.about-video {
    text-align: right;
}

.about-title {
    padding-bottom: 16px;
}

.about-p {
    padding-bottom: 16px;
    line-height: 26px;
}

.footer p {
    padding-bottom: 8px;
}

.footer-text {
    font-size: 12px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.footer-nav {
    text-align: right;
    padding-top: 32px;
    padding-bottom: 31px;
}

.navstyle {
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
}

.navstyle:visited {
    color: #333333;
}

.navstyle:hover {
    color: #00BF78;
}

.navstyle:not(:first-child) {
    padding-left: 28px;
}

.navstyle-mini {
    font-size: 12px;
    font-weight: 400;
}