.slick {
    &-list {
        overflow: hidden;
    }

    &-track {
    //  выстраиваем слайды в ряд
        display: flex;
    }

    &-arrow {
        height: 40px;
        width: 40px;
        font-size: 0;
        background-color: transparent;
        border: none;
        outline: none;
        border-radius: 20px;
        cursor: $cursor, pointer;
        transition: 0.3s transform;  
        z-index: 10;
    
        &__img {
            margin: 10.5px auto;    
        }

        &:hover {
            transform: scale(1.2);
            background-color: $back-color;
        }
    }

    &-prev {
        background: url('../../images/arrow-left.svg') 11px 12px no-repeat;
        margin-right: 16px;
    }

    &-next {
        background: url('../../images/arrow-right.svg') 11px 12px no-repeat;
    }

    &-slide {
            outline: none;
    }
}

