.social {
    text-decoration: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
    
    &__icon {
        transition: 0.3s transform;
        
        &:hover {
            transform: scale(1.2);
        }        
    }
}

