.about {
    padding-top: 100px;
    
    &__title {
        margin: 0 0 32px 0;
    }
    
    &__top {
        justify-content: space-between;
    }
    
    &__caption {
        font: {
            size: 20px;
            weight: 400;
        }
        line-height: 32px;
        margin: 0 0 16px 0;
    }
    
    &__text {
        padding-bottom: 16px;
        line-height: 26px;
    }
    
    &__link {
        font: {
            size: 14px;
            weight: 400;
        }
    }

    &__label {
        font-weight: 500;
        line-height: 26px;
        color: $contrast-text-color;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        align-items: center;
        z-index: 2;
    }
    
    &__bottom {
        justify-content: space-around;
        margin-top: 100px;
    }
    
    &__video {
        height: 295px;
        background: {
            position: right;
            repeat: no-repeat;
            size: cover;
        }
        border-radius: 8px;
        position: relative;
        overflow: hidden;
        display: flex;
        
        &:before {
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background-color: $shadow-color;
            opacity: 0;
            transition: 0.2s opacity;
            z-index: 1;
        }
        
        &:hover:before {
            opacity: 0.2;
        }
    }    
}

.item {
    text-align: center;
    
    &__title {
        margin: {
            top: 28px;
            bottom: 12px;
        }
    }
    
    &__text {
        font-size: 14px;
        line-height: 22px;
        padding: 0px 27px;
    }
}
