// уменьшение расстояния между пунктами навигации, картинка полупрозрачная

@media (max-width: 992px) {
    .header {
        &__link:not(:first-child) {
            margin-left: 10px;
        }
        &__image {
            opacity: 0.5;
        }
    }

    .section {
        margin-bottom: 80px;
    }

    .about {
        margin-top: 80px;
        
        &__top {
            margin-bottom: 50px;
        }

        &__content {
            margin-bottom: 20px;
        }

        &__video {
            margin: 0 auto;
        }
    }

    .masters {
        padding: 50px 0;
    }

    .contacts {
        margin-bottom: 0;
    }
}

// меню-бургер, заголовок и текст по центру, соцсети горизонтально, уменьшение отступов между блоками, картинка выключена

@media (max-width: 768px) {
    .header {
        &__burger {
            display: block;
        }
        
        &__nav, &__image {
            display: none;
        }
        
        &__top {
            justify-content: space-between;
        }
        
        &__slogan {
            text-align: center;
        }
        
        &__content {
            flex-direction: column;
            padding-bottom: 40px;
        }
       
        &__social {
            flex-direction: row;
        }
        
        &__li:not(:first-child) {
            padding-left: 24px;
        }
        
        &__btn {
            margin-bottom: 50px;
        }
        
        &__top {
            margin-bottom: 50px;
        }
    }

    .section {
        margin-bottom: 50px;
    }

    .about {
        margin-top: 50px;
    }

    .masters {
        padding: 40px 0;
        &__profile {
            margin-bottom: 20px;
        }
    }

    .master-card {
        &__prof {
            margin-bottom: 10px;
        }
    }

    .brands {
        &__title {
            margin-bottom: 20px;
        }
        
        &__images {
            flex-direction: column;
        }

        &__img {
            margin-bottom: 20px;
        }
    }

    .contacts {
       margin-bottom: 0;

        &__text {
            text-align: center;
            margin-top: 18px;
        }
    }

    .footer {
        &__nav {
            display: flex;
            flex-direction: column;
            padding-top: 10px;
            padding-bottom: 10px;
        }
        
        &__link {
            padding: 5px 0;
        }
    }
}

// меню-бургер, логотип и телефон в столбик, заголовок и текст по центру, соцсети горизонтально, 
// уменьшение отступов между блоками, картинка выключена

@media (max-width: 576px) {
    .header {
        &__burger {
            display: block;
        }
        
        &__nav, &__image {
            display: none;
        }
        
        &__menu {
            margin-bottom: 20px;
        } 
        
        &__info, &__slogan {
            text-align: center;  
        }
        
        &__top {
            flex-direction: column;
            align-items: center;
        }
        
        &__content {
            flex-direction: column;
            padding-bottom: 40px;
        }
        
        &__social {
            flex-direction: row;
        }
        
        &__li:not(:first-child) {
            padding-left: 24px;
        }
        
        &__btn {
            margin-bottom: 50px;
        }
        
        &__top {
            margin-bottom: 50px;
        }
    }

    .section {
        margin-bottom: 50px;
        
        &__title {
            text-align: center;
        }
    }
    
    .about {
        margin-top: 50px;
    
        &__top {
            margin-bottom: 50px;
            text-align: center;
        }

        .item {
            padding-bottom: 20px;

            &__caption, &__title {
                margin-top: 20px;
            }
        }
    }

    .popular {
        &__card {
            align-items: center;
            text-align: center;
        }
    }

    .masters {
        padding: 40px 0;
        text-align: center;
        &__profile {
            margin-bottom: 20px;
        }

        &__photo {
            margin: 0 auto;
        }
    }

    .brands {
        &__title {
            margin-bottom: 20px;
            font-size: 14px;
        }
        
        &__images {
            flex-direction: column;
        }

        &__img {
            margin-bottom: 20px;
        }
    }

    .projects__scroll {
        position: absolute;
        right: 10px;
        bottom: -45px;
    }

    .contacts {
        margin-bottom: 0;
        
        &__text {
            text-align: center;
            margin-top: 18px;
        }
    }

    .footer {
        &__nav {
            flex-direction: column;
        }
    }
}