@import 'libs';

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    color: #333333;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    min-width: 320px;
}

html, body, .wrapper {
    height: 100%;
}

h2 {
    font-size: 48px;
    font-weight: 700;
}

h3 {
    font-size: 36px;
    font-weight: 700;
}

h4 {
    font-size: 18px;
    font-weight: 600;
}

p {
    margin: 0;
}

a {
    cursor: url('/images/pointer.svg'), pointer;
    color: #278AFF;
}

.wrapper {
    display: flex;
    flex-direction: column;
}

.container {
    max-width: 1140px;
    width: 100%;
}

.main {
    flex: 1;
}

.header, .footer {
    flex-shrink: 0;
}

/* кнопка */

.btn {
    height: 34px;
    width: 112px;
    font-family: 'Montserrat';
    font-size: 12px;
    font-weight: 500;
    line-height: 14px;
    color: white;
    background-color: #FB9475;
    border: none;
    outline: none;
    border-radius: 17px;
    cursor: url('/images/pointer.svg'), pointer;
    transition: 0.1s transform;
}

.btn:hover {
    transform: scale(1.04);
}

/* большая кнопка */

.btn_large {
    height: 48px;
    width: 203px;
    font-size: 14px;
    border-radius: 24px;
}

/* телефон и режим работы */

.info {
    line-height: 14px;
    text-align: right;
}

.info__phone {
    font-size: 18px;
    font-weight: 500;
    padding-bottom: 8px;
}

.info__shedule {
    font-size: 11px;
    font-weight: 400;
    line-height: 14px;
}

/* логотип */

.logo {
    font-size: 24px;
    font-weight: 700;
}

.logo__link {
    text-decoration: none;
    color: #333333;
}

/* меню-бургер */

.burger__bar {
    width: 35px;
    height: 4px;
    background-color: #333333;
    border-radius: 8px;
    margin: 5px 0;
}

/* навигация и прайс */

.nav__link {
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    color: #333333;
}

.nav__link:visited {
    color: #333333;
}

.nav__link:hover {
    color: #00BF78;
}

/* навигация в футере */

.nav__link_mini {
    font-size: 12px;
    font-weight: 400;
}

/* соцсети */

.social {
    text-decoration: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.social__icon:hover {
    transform: scale(1.2);
}

/* стили для шапки */

.header {
    background-color: #F8F6F7;
    background-image: url('/images/background.png');
}

.header__top, .header__content {
    display: flex;
    justify-content: space-between;
}

.header__top {
    margin-top: 30px;
    margin-bottom: 120px;
}

.header__link:not(:first-child) {
    margin-left: 28px;
}

.header__burger {
    display: none;
    margin-right: 20px;
}

.header__menu {
    display: flex;
    justify-content: right;
}

.header__content {
    align-items: center;
    padding-bottom: 130px;
    position: relative;
}

.header__slogan {
    max-width: 486px;
    vertical-align: middle;
    z-index: 2;
}

.header__caption {
    font-size: 48px;
    font-weight: 600;
    margin-bottom: 16px;
}

.header__text {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 60px;
}

.header__image {
    position: absolute;
    bottom: 0;
    right: 90px;
    z-index: 1;
    overflow: hidden;
    opacity: 1;
    transition: 0.3s opacity;
}

.header__img {
    display: block;
    position: relative;
}

.header__image:before {
    content: '';
    width: 472px;
    height: 472px;
    background-color: #FB9475;
    border-radius: 50%;
    position: absolute;
    z-index: 0;
    bottom: -110px;
    right: 0;
}

.header__social {
    display: flex;
    flex-direction: column;
    justify-content: center;
    transform: translateY(-25%);
}

.header__li:not(:last-child) {
    margin-bottom: 16px;
}

/* стили для основного контента */

.section {
    padding: 50px 0 50px 0;
}

/* О салоне */

.about {
    padding-top: 100px;
}

.about__title {
    margin: 0 0 32px 0;
}

.about__top {
    justify-content: space-between;
}

.about__caption {
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    margin: 0 0 16px 0;
}

.about__text {
    padding-bottom: 16px;
    line-height: 26px;
}

.about__link {
    font-size: 14px;
    font-weight: 400;
}

/* блок с видео "О салоне" и его затемнение */

.about__video {
    height: 295px;
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 8px;
    position: relative;
    overflow: hidden;
    display: flex;
}

.about__video:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: black;
    opacity: 0;
    transition: 0.2s opacity;
    z-index: 1;
}

.about__video:hover:before {
    opacity: 20%;
}

.about__label {
    font-weight: 500;
    line-height: 26px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    align-items: center;
    z-index: 2;
}

.about__bottom {
    justify-content: space-around;
    margin-top: 100px;
}

.item {
    text-align: center;
}

.item__title {
    margin-top: 28px;
    margin-bottom: 12px;
}

.item__text {
    font-size: 14px;
    line-height: 22px;
    padding: 0px 27px;
}

/* Популярные услуги */

.popular {
    padding-bottom: 2px;
}

.popular__title {
    margin: 0 0 35px 0;
}

.popular__card {
    margin: 0 0 48px 0;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.card__image {
    height: 180px;
    border-radius: 8px;
    overflow: hidden;
}

.card__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: left top;
}

.card__body {
    padding: 15px 0 0 0;
}

.card__caption {
    font-size: 18px;
    font-weight: 600;
    margin: 0 0 8px 0;
}

.card__text {
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    margin: 0 0 16px 0;
}

/* Услуги и цены */

.price {
    padding-bottom: 100px;
}

.price__title {
    margin: 0 0 32px 0;
}

.price__tabs {
    text-decoration: none;
    margin-bottom: 21px;
}

.price__section:not(:first-child) {
    margin-left: 28px;
}

.price__service {
    font-size: 18px;
    font-weight: 500;
    margin-top: 32px;
}

.price__comment {
    font-size: 14px;
    font-weight: 400;
    margin-top: 8px;
}

.price__price {
    font-size: 20px;
    font-weight: 600;
    color: #00BF78;
    margin-top: 32px;
}

/* Мастера */

.masters {
    background-color: #F8F6F7;
    padding-top: 80px;
}

.masters__title {
    margin: 0 0 32px 0;
}

.masters__text {
    margin-bottom: 24px;
}

.master-card__photo {
    height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 8px;
    background-size: cover;
    position: relative;
    overflow: hidden;
}

.master-card__photo:before {
    content: '';
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    background-color: black;
    opacity: 0;
    transition: 0.2ms;
    z-index: 1;
}

.master-card__photo:hover:before {
    opacity: 0.5;
    cursor: url('/images/pointer.svg'), pointer;
}

.master-card__photo:after {
    content: 'Записаться к мастеру';
    color: white;
    font-size: 14px;
    font-weight: 500;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    display: flex;
    align-items: center;
    max-width: 90px;
    opacity: 0;
    z-index: 2;
}

.master-card__photo:hover:after {
    opacity: 1;
    cursor: url('/images/pointer.svg'), pointer;
}

.master-card__name {
    margin: 20px 0 8px 0;
}

.master-card__prof {
    font-size: 14px;
    margin-bottom: 20px;
}

.master-card__exp {
    font-size: 12px;
    font-weight: 300;
    text-transform: uppercase;
}

/* Контакты */

.contacts {
    padding-top: 78px;
    background-color: #F8F6F7;
}

/* стили для футера */

.footer__row {
    justify-content: space-around;
}

.footer__text {
    font-size: 12px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.footer__copyright {
    padding-bottom: 8px;
}

.footer__nav {
    text-align: right;
    padding-top: 32px;
    padding-bottom: 31px;
}

.footer__link:not(:first-child) {
    margin-left: 28px;
}

/* уменьшаем расстояние между пунктами навигации, картинка полупрозрачная */

@media (max-width: 992px) {
    .header__link:not(:first-child) {
        margin-left: 10px;
    }
    .header__image {
        opacity: 0.5;
    }
}

/* меню-бургер, заголовок и текст по центру, соцсети горизонтально, уменьшение отступов между блоками, картинка выключена */

@media (max-width: 768px) {
    .header__burger {
        display: block;
    }
    .header__nav {
        display: none;
    }
    .header__top {
        justify-content: space-between;
    }
    .header__slogan {
        text-align: center;
    }
    .header__image {
        display: none;
    }
    .header__content {
        flex-direction: column;
        padding-bottom: 40px;
    }
    .header__social {
        flex-direction: row;
    }
    .header__li:not(:first-child) {
        padding-left: 24px;
    }
    .header__btn {
        margin-bottom: 50px;
    }
    .header__top {
        margin-bottom: 50px;
    }
}

/* меню-бургер, логотип и телефон в столбик, заголовок и текст по центру, соцсети горизонтально, 
уменьшение отступов между блоками, картинка выключена */

@media (max-width: 576px) {
    .header__burger {
        display: block;
    }
    .header__nav {
        display: none;
    }
    .header__menu {
        margin-bottom: 20px;
    } 
    .header__info {
        text-align: center;  
    }
    .header__top {
        flex-direction: column;
        align-items: center;
    }
    .header__slogan {
        text-align: center;
    }
    .header__image {
        display: none;
    }
    .header__content {
        flex-direction: column;
        padding-bottom: 40px;
    }
    .header__social {
        flex-direction: row;
    }
    .header__li:not(:first-child) {
        padding-left: 24px;
    }
    .header__btn {
        margin-bottom: 50px;
    }
    .header__top {
        margin-bottom: 50px;
    }
}