.datatable {    
    .table-header {
        display: flex;
        justify-content: space-between;
    }

    // аватарки мастеров
    .p-avatar img {
        object-fit: cover;
        object-position: top center;
    }

    .p-datatable.p-datatable-orders {
        .p-datatable-header {
            padding: 1rem;
            text-align: left;
            font-size: 1.5rem;
        }

        .p-datatable-thead > tr > th {
            text-align: left;
        }

        .p-datatable-tbody > tr > td {
            .p-column-title {
                display: none;
            }

            cursor: auto;
        }

        .p-dropdown-label:not(.p-placeholder) {
            text-transform: uppercase;
        }   

        .order-badge {
            border-radius: 2px;
            padding: .25em .5rem;
            text-transform: uppercase;
            font-weight: 700;
            font-size: 12px;
            letter-spacing: .3px;
        }
    }        
}

// фото мастеров
.photo {    
    object-fit: cover;
    object-position: center top;
    width: 100%; 
    max-width: 300px;
    max-height: 250px; 
    padding: 0 5px;
}

// статус заявки

.order-badge {
    border-radius: 2px;
    padding: .25em .5rem;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: .3px;

    &[class*="status-opened"] {
        background: #FFCDD2;
        color: #C63737;
    }
    
    &.status-closed, &.status-closed-success {
        background: #C8E6C9;
        color: #256029;
    }
    
    &.status-closed-failed {
        background: #FEEDAF;
        color: #8A5340;
        text-decoration: line-through;
    }
}


@media(max-width:576px) {
    .datatable {
        .p-button-label {
            flex: 1 1 auto;
            display: none;
        }
        
        .p-button .p-button-icon-left {
                margin: 0;
        }
    }        
}
    
@media screen and (max-width: 960px) {
    .datatable .p-datatable.p-datatable-orders {
        .p-datatable-thead > tr > th, .p-datatable-tfoot > tr > td {
            display: none !important;
        }

        .p-datatable-wrapper .p-datatable-tbody > tr {
            border-bottom: 1px solid var(--surface-d);
        }

        .p-datatable-tbody > tr > td {
            text-align: left;
            display: block;
            border: 0 none !important;
            width: 100% !important;
            float: left;
            clear: left;
            border: 0 none;

            .p-column-title {
                padding: .4rem;
                min-width: 30%;
                display: inline-block;
                margin: -.4rem 1rem -.4rem -.4rem;
                font-weight: bold;
            }

            .p-progressbar {
                margin-top: .5rem;
            }
        }
    }
} 
    
    
    

    

