.Master {
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: hidden;

    &__photo {
        img {
            object-fit: cover;
            object-position: center top;
            width: 100%; 
            height: 300px;          
        }
    }

    &__name {
        font-size: 18px;
        font-weight: 500;
    }
}
