.Masters {
    &__table-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__photo {    
        object-fit: cover;
        object-position: center top;
        width: 100%; 
        max-height: 250px; 
        padding: 0 5px;
    }
}